div { 
    text-align:center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bodytext {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}