.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.homepage {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bodytext {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    background-color: rgb(44, 124, 243);
    border: none;
    color: white;
    font-weight: 500;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.background {
    background-color: rgba(7, 7, 7, 0.774);
    color: white;
}

.recipeimage {
    display: block;
    margin: auto;
    height: 500px;
    width: auto;
}

.recipebody {
    margin-left: 800px;
    margin-top: 90px;
}